/* .container {
}

.details {

  padding: 20px 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.img {
  margin-right: 20px;
  border-radius: 10px;
}
.tagline{
    color: grey;
    font-style: italic;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list{
    padding-top: 10px;
    padding-bottom: 20px;
}
.item{   
    padding-bottom: 5px;
}
.genres{
display: flex;

}
.genres__item{
 
    display: flex;

}

.span{
 
} */

a{
    list-style: none;
    text-decoration: none;
}

.details{
    padding-top: 20px;
    display: flex;
    justify-content: center;


}

.img__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img{
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
}

.goBackBtn{
    position: absolute;
    top: 10px;
    left: 10px;

    width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border-radius: 30px;
    border: none;

    background-color: white;
    color: #EF6401;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    cursor: pointer;
}

.description{
    margin-left: 20px;
}

.title__wrapper{
    margin-bottom: 20px;
}

.title{
    font-size: 26px;
    margin-bottom: 5px;
}

.tagline{
    font-style: italic;
    color: grey;
}

.list{
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
.item{
    position: relative;
    overflow: hidden;
    color: grey;
}

.span,
.genres {
    position: absolute;
    left: 100px;
    color: black;
}
.genres{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}


.overview{
    margin-bottom: 20px;
    max-width: 500px;
}

.moreInfo{
    display: flex;
}
.nextBtn {
    font-family: 'Varela Round';
    display: block;
    padding: 15px;
    margin-right: 15px;
    line-height: 0;
    border-radius: 4px;
    color: white;
    background-color: #ff6b01;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s;
}