.header{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
border-bottom: 1px solid black;
box-shadow: 0px 5px 10px 0px rgba(9, 9, 9, 0.5);
}
a{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover{
transform: scale(1.01);
}
